:root {
 /********** COLORS **********/

    /* Primary */

    --very-dark-blue-main-background: hsl(233, 47%, 7%);
    --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --soft-violet-accent: hsl(277, 64%, 61%);

    /* Neutral */
    
    --white-main-heading-stats: hsl(0, 0%, 100%);
    --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

html {
    font-size: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue-main-background);
}

.card {
    width:88%;
    max-width: 1115px;
    border-radius: 10px;
    margin: 2rem 0; 
    background-color: var(--dark-desaturated-blue-card-background);
    color: var(--white-main-heading-stats);
}

.image-container {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: var(--soft-violet-accent);
    filter:opacity(0.5);   
}

.card__image {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    vertical-align: top;
    mix-blend-mode:hard-light;
}

.card__image--hidden {
    display: none;
}

.card__content {
     padding: 2.1rem;
     text-align: center;
}

.card__texts {
    margin-bottom: 2.9rem;
}

.card__title {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    font-weight: 700;
}

.card__title span {
    color: var(--soft-violet-accent);
}

.card__paragraph {
    line-height: 1.5;
    font-size: 1.1rem;
    color: var(--slightly-transparent-white-main-paragraph);
}

.datas-container {
    width: max-content;
    margin: auto;
    margin-bottom: 1.5rem;
}

.card__number {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}

.card__data {
    text-transform: uppercase;
    color:var(--slightly-transparent-white-main-paragraph);
}

.margin {
    margin-bottom: 0;
}

 @media screen and (min-width:43rem) {
    .card {
        display: flex;
        flex-direction: row-reverse;
        border-radius: 20px;
    }

    .image-container {
        max-width: 36.2rem;
        border-radius: 0 20px 20px 0;
        overflow: hidden;
    }

    .card__image {
        display: none;
    }
    
    .card__image--hidden {
        display: block;
        min-height: 458px;
        object-fit: cover;
        object-position: center;
        border-radius: 0 20px 20px 0;
    }

    .card__content {
        width: 51%;
        max-width: 35rem;
        padding: 5rem 4.3rem 4.3rem;
        text-align: left;
    }

    .card__title {
        font-size: 2.4rem;
    }

    .card__paragraph {
        font-size: 1.2rem;
    }

    .analytics {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .datas-container {
        margin: 0;
    }
 }   